
@media (max-width: 550px) {
  .grid {
    &-xs {
      min-width: 320px;
      margin: 0 auto;
      padding: 0 1%;
    }
  }
  .col {
    &-xs {
      &-1 {
        float: left;

        width: 8.33%;
      }
      &-2 {
        float: left;

        width: 16.66%;
      }
      &-3 {
        float: left;

        width: 24.99%;
      }
      &-4 {
        float: left;

        width: 33.32%;
      }
      &-5 {
        float: left;

        width: 41.65%;
      }
      &-6 {
        float: left;

        width: 50%;
      }
      &-7 {
        float: left;

        width: 58.33%;
      }
      &-8 {
        float: left;

        width: 66.66%;
      }
      &-9 {
        float: left;

        width: 74.99%;
      }
      &-10 {
        float: left;

        width: 83.32%;
      }
      &-11 {
        float: left;

        width: 91.65%;
      }
      &-12 {
        float: left;

        width: 100%;
      }
      &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12 {
        min-height: 1px;
      }
    }
  }
  html {
    font-size: 8.5px;
  }
  .site-nav {
    &__link:hover {
      & ~ .site-nav__sub-list {
        display: none;
      }
    }
  }
  .promo-item {
    &--block-xs {
      padding-bottom: 5px;
    }
    &--left-side-xs {
      padding-right: 5px;
      padding-bottom: 5px;
    }
    &--right-side-xs {
      padding-bottom: 5px;
    }
  }
  .promo-item {
    &--men {
      min-height: 400px !important;
    }
    &--women {
      min-height: 245px;
    }
    &--baby {
      min-height: 245px;

      background-color: #363754;
    }
    &--jewelry {
      min-height: 410px !important;
    }
    &__li--basket:hover > .promo-item__add-card {
      display: block;
    }
  }
  .new-products {
    &__item {
      margin: 0 !important;
    }
    &__head-inner h3 {
      line-height: 5.2rem !important;
    }
    &__switch-btn {
      width: 15% !important;
    }
  }
  .featured-products {
    &__head-inner h3 {
      line-height: 5.2rem !important;
    }
    &__switch-btn {
      width: 15% !important;
    }
  }
  .who-we-are {
    &__step--chose,&__step--register,&__step--checkout {
      height: 160px !important;
      margin-bottom: 10px !important;

      background-position: 50% 20% !important;
    }
    &__step-text {
      width: 90% !important;
      padding-top: 120px !important;
      padding-right: 5%;
      padding-left: 5% !important;

      text-align: center;
      &--register,&--chose {
        margin-top: 0rem !important;
      }
      &__instruction {
        .col-xs-12 {
          display: block !important;
        }
      }
      /* &__instruction {
				.col-sm-4:last-of-type{
					margin-right: 0;
				}
			} */
    }
  }
  .block-xs {
    margin: 0 !important;
    padding-bottom: 5px;
  }
  .hidden-lg,.hidden-md,.hidden-sm,.hidden-xs {
    display: none !important;
  }
  .info-item {
    & h4 {
      margin-top: 25px !important;
      margin-bottom: 18px !important;
    }
    &__li {
      display: inline-block !important;

      padding-right: 15px;
    }
  }
}
@media (min-width: 550px) and (max-width: 886px) {
  html {
    font-size: 9px;
  }
  .grid {
    &-sm {
      margin: 0 auto;
      padding: 0 1%;
    }
  }
  .col {
    &-sm {
      &-1 {
        float: left;

        width: 8.33%;
      }
      &-2 {
        float: left;

        width: 16.66%;
      }
      &-3 {
        float: left;

        width: 24.99%;
      }
      &-4 {
        float: left;

        width: 33.32%;
      }
      &-5 {
        float: left;

        width: 41.65%;
      }
      &-6 {
        float: left;

        width: 50%;
      }
      &-7 {
        float: left;

        width: 58.33%;
      }
      &-8 {
        float: left;

        width: 66.66%;
      }
      &-9 {
        float: left;

        width: 74.99%;
      }
      &-10 {
        float: left;

        width: 83.32%;
      }
      &-11 {
        float: left;

        width: 91.65%;
      }
      &-12 {
        float: left;

        width: 100%;
      }
      &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12 {
        min-height: 1px;
      }
    }
  }
  .site-nav {
    &__link:hover {
      & ~ .site-nav__sub-list {
        display: none;
      }
    }
  }
  .promo-item {
    &--block-sm {
      padding-bottom: 5px;
    }
    &--left-side-sm {
      padding-right: 5px;
      padding-bottom: 5px;
    }
    &--right-side-sm {
      padding-bottom: 5px;
    }
  }
  .promo-item {
    &--women {
      min-height: 245px;
    }
    &--baby {
      min-height: 245px;
    }
    &__li--basket:hover > .promo-item__add-card {
      display: block;
    }
  }
  .new-products {
    &__switch-btn {
      width: 12% !important;
    }
    &__item {
      margin: 0 !important;
      &--bags {
        background-position: 16% 95% !important;
      }
      &--dady {
        .mixin__bg-position (50% 50%);
      }
      &--watch {
        .mixin__bg-position (50% 50%);
      }
    }
    &__text--baby {
      bottom: 40% !important;
      left: 35% !important;
    }
    &__head-inner h3 {
      line-height: 4.8rem !important;
    }
    .col-sm-4 {
      width: 32.62% !important;
    }
  }
  .featured-products {
    &__head-inner h3 {
      line-height: 4.8rem !important;
    }
    &__switch-btn {
      width: 12% !important;
    }
    &__content-inner {
      .col-sm-6,.col-sm-6 {
        display: inline-block;

        width: 37.923% !important;
        padding-right: 6% !important;
        padding-bottom: 15px;
        padding-left: 6% !important;
      }
    }
    &__content-inner {
      .col-sm-6:last-of-type,.col-xs-6:last-of-type {
        padding-right: 0;
      }
    }
    &__content-inner::after {
      width: 100%;
      height: 0;

      content: '';
    }
  }
  .who-we-are {
    &__step--chose,&__step--register,&__step--checkout {
      height: 200px !important;

      background-position: 50% 20% !important;
    }
    &__step-text {
      width: 90% !important;
      padding-top: 120px !important;
      padding-right: 5%;
      padding-left: 5% !important;

      text-align: center;
      &--register,&--chose {
        margin-top: 0rem !important;
      }
    }
    &__instruction {
      .col-sm-4 {
        display: table;

        max-width: 31.66%;
        margin-right: 2.5%;
      }
    }
    &__instruction {
      .col-sm-4:last-of-type {
        margin-right: 0;
      }
    }
    &__step {
      display: table-cell;
    }
  }
  .block-sm {
    margin: 0 !important;
    padding-bottom: 5px;
  }
  .left-side-sm {
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .right-side-sm {
    padding-bottom: 5px;
  }

  .hidden-sm,.hidden-xs, {
    display: none !important;
  }
  .info-item {
    &--signup {
      padding-right: 5px;
    }
    &--social {
      padding-left: 5px;
    }
    &__header--signup {
      text-align: center;
    }
    &--social {
      & h4 {
        margin-top: 45px !important;
        margin-bottom: 38px !important;

        text-align: center;
      }
    }
  }
}
@media (min-width: 886px) and (max-width: 1400px) {
  .grid {
    &-md {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 1.282%;
    }
  }
  .col {
    &-md {
      &-1 {
        float: left;

        width: 8.33%;
        width: 97.5px;
      }
      &-2 {
        float: left;

        width: 16.66%;
      }
      &-3 {
        float: left;

        width: 24.99%;
      }
      &-4 {
        float: left;

        width: 33.32%;
      }
      &-5 {
        float: left;

        width: 41.65%;
      }
      &-6 {
        float: left;

        width: 50%;
      }
      &-7 {
        float: left;

        width: 58.33%;
      }
      &-8 {
        float: left;

        width: 66.66%;
      }
      &-9 {
        float: left;

        width: 74.99%;
      }
      &-10 {
        float: left;

        width: 83.32%;
      }
      &-11 {
        float: left;

        width: 91.65%;
      }
      &-12 {
        float: left;

        width: 100%;
      }
      &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12 {
        min-height: 1px;
      }
    }
  }
  .promo-item {
    &--left-side-md {
      padding-right: .73%;
      padding-bottom: 5px;
    }
    &--right-side-md {
      padding-bottom: 5px;
    }
  }
  .promo-item {
    &--baby {
      min-height: 245px;
    }
    &--women {
      min-height: 320px;
    }
  }
  .who-we-are {
    &__step--chose,&__step--register,&__step--checkout {
      background-position: 50% 20% !important;
    }
    &__step-text {
      width: 90% !important;
      padding-top: 120px !important;
      padding-right: 5%;
      padding-left: 5% !important;

      text-align: center;
      &--register,&--chose {
        margin-top: 0rem !important;
      }
    }
  }
  .featured-products {
    &__content-inner {
      .col-md-3 {
        display: inline-block;

        width: 23.123%;
        padding-right: 2.5%;
      }
    }
    &__content-inner {
      .col-md-3:last-of-type {
        padding-right: 0;
      }
    }
  }
  .who-we-are {
    &__instruction {
      .col-md-4 {
        display: table;

        max-width: 31.66%;
        margin-right: 2.5%;
      }
    }
    &__instruction {
      .col-md-4:last-of-type {
        margin-right: 0;
      }
    }
    &__step {
      display: table-cell;
    }
  }
}
@media (min-width: 1401px) {
  .grid {
    &-lg {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 1.282%;
    }
  }
  .col {
    &-lg {
      &-1 {
        float: left;

        width: 8.33%;
      }
      &-2 {
        float: left;

        width: 16.66%;
      }
      &-3 {
        float: left;

        width: 24.99%;
      }
      &-4 {
        float: left;

        width: 33.32%;
      }
      &-5 {
        float: left;

        width: 41.65%;
      }
      &-6 {
        float: left;

        width: 50%;
      }
      &-7 {
        float: left;

        width: 58.33%;
      }
      &-8 {
        float: left;

        width: 66.66%;
      }
      &-9 {
        float: left;

        width: 74.99%;
      }
      &-10 {
        float: left;

        width: 83.32%;
      }
      &-11 {
        float: left;

        width: 91.65%;
      }
      &-12 {
        float: left;

        width: 100%;
      }
      &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12 {
        min-height: 1px;
      }
    }
  }
  .promo-item {
    &--left-side-lg {
      padding-right: .73%;
      padding-bottom: 5px;
    }
    &--right-side-lg {
      padding-bottom: 5px;
    }
  }
  .promo-item {
    &--baby {
      min-height: 245px;
    }
    &--women {
      min-height: 320px;
    }
  }
  .featured-products {
    &__content-inner {
      .col-lg-3 {
        display: inline-block;

        width: 23.123%;
        padding-right: 2.5%;
      }
    }
    &__content-inner {
      .col-lg-3:last-of-type {
        padding-right: 0;
      }
    }
  }
  .who-we-are {
    &__instruction {
      .col-lg-4 {
        display: table;

        max-width: 31.66%;
        margin-right: 2.5%;
      }
    }
    &__instruction {
      .col-lg-4:last-of-type {
        margin-right: 0;
      }
    }
    &__step {
      display: table-cell;
    }
  }
}
.row {
  &::after {
    display: table;
    clear: both;

    content: '';
  }
}

//--------------RESPONSIVE--NAV--CLASSES------------
@media (max-width: 750px) {
  .nav-user {
    &__list {
      position: absolute;
      z-index: 1000;
      top: 100%;
      right: 0;
      & li {
        display: block !important;

        text-align: center;

        background-color: @bg-color-blue;
      }
      & li:nth-of-type(2n+2) {
        background-color: @bg-color-red;
      }
    }
    &__link {
      display: block !important;

      width: 140px;
      padding: 20px 30px 15px !important;
      border-bottom: 2px solid #7f7d7c;
    }
    &__list--close-xs {
      display: none !important;
    }
    &__list--open-xs {
      display: block !important;
    }
    &__link-current {
      display: block !important;

      width: 100px;
      height: 62px;
      padding: 15px 15px;

      text-align: center;

      background-color: @bg-color-red;
      & img {
        display: inline-block;

        padding-bottom: 15px;
      }
    }
    &__link-current--active {
      background-color: darken(@bg-color-red, 10%);
    }
    &__link-current:hover {
      background-color: lighten(@bg-color-red, 10%);
    }
  }
  //---------HEADER--LOGO--------------

  .site-header__top-logo img {
    width: 143px;
    margin-top: -12px !important;
  }

  //--------------SITE--NAV--------------

  .site-nav {
    position: relative;

    float: right;
    &__list {
      position: absolute;
      z-index: 1000;
      top: 100%;
      right: 0;

      width: 300px;
      & li {
        position: relative;

        display: block !important;

        border-top: 2px solid #888;

        text-align: center;
      }
    }
    &__link {
      display: block !important;

      padding: 30px 25px 25px;
    }
    &__list--close {
      display: none;
    }
    &__current-container {
      position: relative;

      width: 140px;
      height: 80px;

      background-color: @bg-color-blue;
      &::before {
        position: absolute;
        top: 28px;
        left: 45px;

        display: inline-block;

        width: 50px;
        height: 4px;

        content: '';

        border-radius: 2px;
        background-color: #fff;
      }
      &::after {
        position: absolute;
        top: 48px;
        left: 45px;

        display: inline-block;

        width: 50px;
        height: 4px;

        content: '';

        border-radius: 2px;
        background-color: #fff;
      }
    }
    &__current-container--active {
      position: relative;
      &::before {
        position: absolute;
        top: 15px;
        left: 53px;

        display: inline-block;

        width: 4px;
        height: 50px;

        content: '';

        border-radius: 2px;
        background-color: #fff;
      }
      &::after {
        position: absolute;
        top: 15px;
        left: 83px;

        display: inline-block;

        width: 4px;
        height: 50px;

        content: '';

        border-radius: 2px;
        background-color: #fff;
      }
    }
    &__current {
      position: absolute;
      top: 38px;
      left: 45px;

      display: inline-block;

      width: 50px;
      height: 4px;

      border-radius: 2px;
      background-color: @white;
    }
    &__current--active {
      top: 15px;
      left: 68px;

      width: 4px;
      height: 50px;
    }
    &__link:hover {
      transition-timing-function: ease-out;
      transition-duration: .4s;
      transition-property: color;
      transform: scale(1.0) !important;

      color: @font-color-red;
      background-color: @white;
      & ~ .site-nav__sub-list {
        display: none !important;
      }
    }
  }
}
@media (min-width: 750px) and (max-width: 886px) {
  .nav-user {
    &__link {
      display: inline-block;

      padding: 35px 27px 30px !important;

      font-family: 'Lato Regular', sans-serif;
      font-size: @font-size;

      text-decoration: none;

      color: @white;
    }
  }

  //---------HEADER--LOGO--------------

  .site-header__top-logo img {
    margin-top: -27px !important;
  }

  //----------SITE---NAV--------------
  .site-nav {
    &__link {
      padding: 28px 13px 23px !important;
    }
  }
}

@media (min-width: 886px) and (max-width: 1035px) {
  //----------SITE---NAV--------------
  .site-nav {
    &__link {
      padding: 30px 17px 25px !important;
    }
  }
}
